<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="banner-section">
        <img src="../static/images/banner.jpg" alt="">
    </div>
    <div class="register-section">
        <form action="/register-form" method="post">
            <input type="number" name="id" placeholder="ID"><br>
            <input type="text" name="name" placeholder="Name"><br>
            <input type="email" name="email" placeholder="Email"><br>
            <input type="number" name="phone" placeholder="Phone"><br>
            <input type="number" name="percentage" placeholder="Inter Percentage"><br>
            <input type="number" name="rank" placeholder="Eamcet Rank"><br>
            <input type="text" name="course" placeholder="Course Interested"><br>
            <input type="text" name="address" placeholder="Address"><br>
            <input id="register-btn" type="submit" value="Register">
        </form>
    </div>
</body>
</html>